<div class="card-container">
  <div class="card"  [ngClass]="cardClasses()">
    <div class="card-header">
      <h2>{{course.description}}</h2>
    </div>
    <div class="card-body">
      <img width="300" height="200" src="{{course.iconUrl}}" alt="x">
    </div>
    <div class="card-footer" style="text-align: center">
      <p>{{course.longDescription}}</p>
        <button (click)="onCourseViewed()" style="padding: 0.5rem;background: #006fff;border: 1px solid blue;border-radius: 4px;color: white">View Course</button>
    </div>
  </div>
</div>

